@model PostViewModel

@{

}

<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="create-post-container">
            <div>
                <input asp-for="Title" placeholder="Tytuł" />
            </div>
            <div>
                <input asp-for="Description" placeholder="Opis" />
            </div>
            <div>
                <input asp-for="Tags" placeholder="Tagi" />
            </div>
            <div>
                <label>Kategoria</label>
                <select asp-for="Category">
                    <option value="Terenowe">Terenowe</option>
                    <option value="Sportowe">Sportowe</option>
                    <option value="Rodzinne">Rodzinne</option>
                </select>
            </div>
            <div class="create-post-body">
                <label>Treść</label>
                <textarea id="editor" asp-for="Body"></textarea>
            </div>
        </div>
        <div class="create-post-image">
            
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="Image" />
        </div>
        <div class="create-post-submit">
            <input type="submit" value="Zatwierdź"  />
        </div>
    </form>
</div>

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();
    </script>

}