
body {
    margin: 0;
    background-color: #b5b5b5;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        color: red;
    }

nav {
    background-color: #142127;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        padding: 15px;
    }

.main-img {
    position: relative;
    height: 920px;
    background-image: url('../content/static/bmw1.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}

.title {
    position: absolute;
    color: white;
    font-size: 80px;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    text-shadow: 0 0 50px black;
}

.title .authors{
    font-size: 40px;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 15px black;
}

    .post img {
        width: 100%;
        object-fit: cover;
    }

.post-body {
    margin: -5px 5px 0;
    padding: 20px 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-shadow {
    box-shadow: none;
}

.login-form{
    width: 100%;
    margin: 80px auto 0;
    text-align: center;
}

.login-form input{
    height: 25px;
    font-size: 16px;
    margin-bottom: 15px;
}

.login-form .submit-button {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 34px;
    border: none;
    background-color: #142127;
    color: white;
    transition: all linear .15s;
}

.login-form .submit-button:hover {
    color: red;
}

.admin-header{
    text-align: center;
    font-size: 30px;
}

.new-post-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 160px;
    height: 32px;
    line-height: 32px;
    background-color: #142127;
    text-decoration: none;
    transition: all linear .1s;
}

.new-post-button:hover {
     color: red;
     text-decoration: none;
}

.panel-posts-container{
    text-align: center;
}

.panel-posts {
    list-style: none;
    padding: 0;
}

.panel-post {
    font-size: 18px;
}

.panel-post::before{
    content: "";
    display: block;
    height:1px;
    width: 60%;
    margin: 10px auto;
    background-color: black;
}

.create-post-container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

    .create-post-container input {
        height: 25px;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .create-post-container label{
        font-size: 18px;
    }

    .create-post-container select {
        margin-left: 10px;
        padding: 5px 10px;
        border: none;
        color: white;
        background-color: #142127;
        font-size: 14px;
    }

    .create-post-container .create-post-body label{
        display: block;
        margin-top: 25px;
        margin-bottom: 10px;
    }

.create-post-image {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.create-post-submit{
    margin-top: 30px;
    width: 100%;
}

.create-post-submit input {
    display:block;
    margin: 0 auto;
    padding: 6px 12px;
    background-color: #142127;
    color: white;
    border: none;
}

    .create-post-submit input:hover {
        color: red;
    }

    .comment-section{
        margin-top: 25px;
    }
    .comment-section p{
        margin-left: 5px;
    }
    .comment-title::before{
        content: "";
        display: block;
        margin-bottom: 20px;
        height: 1px;
        width:100%;
        background-color: black;
    }

.comment-form input {
    height: 25px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.comment-form button {
    display: inline-block;
    height: 25px;
    padding: 6px 12px;
    background-color: #142127;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .1s linear;
}
.comment-form button:hover{
    color: red;
}

.public-date{
    text-decoration: underline;
}